@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  font-size: calc(1em + 1vw);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  max-width: 1400px;
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

a {
  text-decoration: none;
  color: #252525;
}

img {
  width: 100%;
}

section.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 0;
}

section.scroll-container img {
  padding: 0;
}

nav {
  display: flex;
  justify-content: end;
  text-decoration: none;
}
nav ul {
  display: flex;
  justify-content: end;
  list-style: none;
  gap: 1rem;
}

form {
  background-color: #e8e8e8;
}

#tilbudsseksjon a {
  color: #1ca2c1;
}

#kampanje a {
  background-color: yellow;
}

#grid-container {
  display: flex;
  display: inline-block;
  width: 100%;
  margin: 0;
  width: 100%;
  max-width: 1400px;
  min-width: 750px;
}
#grid-container #globalh #account {
  display: flex;
  flex-direction: row;
  justify-content: end;
  list-style: none;
  gap: 1rem;
}

#logo {
  width: 100%;
  max-width: 300px;
  display: block;
  padding: 3rem;
}

.product-card {
  max-width: 1000px;
  min-width: 500px;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 13px 9px 20px 0px #efefef;
}
.product-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tips {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
main header {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
}
main header #banner {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
main header section#nav-form {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 5;
  background-color: #e8e8e8;
  padding: 1rem;
  margin: 3rem;
}
main header section#nav-form ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1rem;
}

footer {
  display: inline-block;
  width: 100%;
  background-color: #252525;
  min-width: 750px;
  padding: 3rem;
  margin: 0;
  color: white;
}
footer a {
  color: white;
}
footer section#land {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
footer section#land img {
  max-width: 100px;
}

/*Mobil*/
@media only screen and (max-width: 800px) {
  #menu {
    display: none;
  }
  #konto {
    display: none;
  }
}
/*Desktop*/
@media only screen and (min-width: 800px) {
  .fa-burger {
    display: none;
  }
  #logo {
    min-width: 250px;
    width: 100%;
  }
  #menu {
    display: flex !important;
  }
}/*# sourceMappingURL=main.css.map */