@use 'fonts' as *;
@use 'colour' as *;
html {
    font-size: calc(1em + 1vw);
    
}

*{
    box-sizing: border-box;
}

body{
    font-family: $mainFont;
    margin: 0;
    max-width: 1400px;

}
.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

.skip:focus {
    position: static;
    width: auto;
    height: auto;
  }

a{
    text-decoration: none;
    color: $black1;
}

img{
    width: 100%;
}

section.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 0;
  }
  
  section.scroll-container img {
    padding:0;
    
  }

nav {
    display: flex ;
    justify-content: end;
    text-decoration: none;
    ul{
        display: flex;
        justify-content: end;
        list-style: none;
        gap: 1rem;
    } 
}
form{
    background-color: $white1;
    
}
#tilbudsseksjon{
    a{
        color: $blue2;
    }
}
#kampanje{
    a{
        background-color: yellow;
    }
}

#grid-container{
    display: flex;
    display: inline-block;
    width: 100%;
    margin: 0;
    width: 100%;
    max-width: 1400px;
    min-width: 750px;
    #globalh{
        
        #account{
            display: flex;
            flex-direction: row;
            justify-content: end;
            list-style: none;
            gap: 1rem;
            
            }
        }
    }


#logo{
    width: 100%; 
    max-width: 300px; 
    display: block;
    padding: 3rem;
}

 .product-card {
        max-width: 1000px; 
        min-width: 500px; 
        width: 100%; 
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 13px 9px 20px 0px #efefef;
        img{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
     
    }
    
.tips {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    gap: 1rem;
    
}


        
    

main {
        
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        header {
            display: grid;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 5;
            
            #banner{
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 3;
                
            }
            section#nav-form{

                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 5;
                background-color: $white1;
                padding: 1rem;
                margin: 3rem;
                ul{
                    display: flex;
                    justify-content: center;
                    list-style: none;
                    gap: 1rem;
                }
            }
        }
    }   



footer{
       
        display: inline-block;
        width: 100%;
        background-color: #252525;
        min-width: 750px;
        padding: 3rem;
        margin: 0;
        color: white;
        a{
            color: white;
        }
    
        section#land{
            display: flex;
            
            align-items: center;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
        
            img{
                max-width: 100px;
               
            }
        }
    }
/*Mobil*/
@media only screen and (max-width: 800px) {
    #menu {
        display: none; 
    }
    #konto{
        display: none
    }

}

/*Desktop*/
@media only screen and (min-width: 800px) {
    .fa-burger {
        display: none; 
    }
    #logo{
        min-width: 250px;
        width: 100%;
    }

    #menu {
        display: flex !important; 
    }
}